.banner{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url('../../img/11.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}